﻿.validation-summary-errors
{
    color:red;
}

.dataTables_filter 
{
    display: none;
}

/* overriding bootstrap style */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    vertical-align:middle;
}

.dataTables_paginate > ul.pagination
{
    margin:0px;
}

/* license status classes */

.license-active, .license-renewal
{
    background-color: #8CDD81;
}

/* demo status classes */
.demo-demo
{
    background-color: #ffa500;
}

.demo-pending
{
    background-color: #ffa500;
}



/* alphabet no padding on extra-small / small / medium screens */
@media(max-width:1199px)
{
    .letter
    {
        padding:0px
    }
}

.dataTables_processing
{
    border:0px;
}

.cursor-pointer
{
    cursor:pointer;
}

.lightgray-bg
{
    background-color:#f7f7f7;
}

/* theme does not contain rule for third level */
.nav.nav-third-level > li.active {
  border: medium none;
}

/* split line color */
hr.splitline{
     border: 0; 
     height: 0; 
     border-top: 1px solid rgba(0, 0, 0, 0.1); 
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* drop down group inside datatables */
.datatables-input-group
{
    width:1px;
}

.full-width
{
    width:100%;
}

.width120px
{
    width:120px;
}


.width180px
{
    width:180px;
}

.submessage
{
    white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:400px;
}