﻿@model PKTasks.Web.Models.SectorsVM

<div>
    <td><a href="@Url.Action("SectorsAddView", "Adjustments")" class="btn">Δημιουργία</a></td>
    <table style="width:100%">
        <tr>
            <th>Όνομα</th>
        </tr>
        @foreach (var item in Model.Sectors)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Description)</td>
                <td><a href="@Url.Action("SectorsEditView", "Adjustments",new { sectorId = item.Id})" class="btn">Επεξεργασία</a></td>
                <td><a class="btn Id" data-Id="@item.Id">Διαγραφή</a></td>
            </tr>
        }
    </table>
</div>
