﻿@model PKTasks.Web.Models.TaskTagsVM

<div>
    <td><a href="@Url.Action("TaskTagsAddView", "Adjustments")" class="btn">Δημιουργία</a></td>
    <table style="width:100%">
        <tr>
            <th>Όνομα</th>
        </tr>
        @foreach (var item in Model.TaskTags)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Name)</td>
                <td><a href="@Url.Action("TaskTagsEditView", "Adjustments",new { tagId = item.Id})" class="btn">Επεξεργασία</a></td>
                <td><a class="btn Id" data-Id="@item.Id">Διαγραφή</a></td>
            </tr>
        }
    </table>
</div>
