﻿@model PKTasks.Web.Models.TaskTagVM

<div style="width:40%">
    @using (Html.BeginForm("TaskTagsAdd", "Adjustments", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.EditorFor(x => x.Name)
        <button type="submit">Επεξεργασία</button>
        <button type="reset">Άκυρο</button>
    }
</div>


