﻿@model PKTasks.Web.Models.ProjectVM
@{
    ViewBag.Title = "Επεξεργασία Έργου";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <strong>&nbsp(@Model.Name)</strong>
            </li>
        </ol>
    </div>
</div>





<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">Εισαγωγή Στοιχείων</a></li>
                        <li class=""><a href="#tab-notes" data-toggle="tab">Σημειώσεις</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body lightgray-bg">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">

                        @using (Html.BeginForm("ProjectEdit", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(modelItem => modelItem.Id)
                            <table style="width:80%; border:1px">
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>@Html.DisplayNameFor(modelItem => modelItem.Description)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Description)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedStartDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EstimatedStartDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>@Html.DisplayNameFor(modelItem => modelItem.StartDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.StartDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedEndDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EstimatedEndDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>  @Html.DisplayNameFor(modelItem => modelItem.EndDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EndDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Deadline)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Deadline)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Status)</h3>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.statusId, Model.AllStatus, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDuration)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EstimatedDuration)
                                    </td>
                                </tr>


                            </table>

                            <button type="submit">Επεξεργασία</button>
                            <button type="reset">Άκυρο</button>
                        }    
                    </div>
                    <div class="tab-pane" id="tab-notes">
                        <div id="divNotesContainer">

                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-2">
                                Νέα Σημείωση
                                <i class="fa fa-plus cursor-pointer btn-sm btn-primary" title="Νέα Σημείωση" id="btnNewNote"></i>
                            </label>
                            <div class="col-md-10" id="divOrderItems"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@section Styles {
    @Styles.Render("~/plugins/datePickerStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-editor').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                language: 'el'
            });
            RefreshNotes();
        });


        $('#btnNewNote').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/Notes/NoteAddView?humanId=@Globals.UserId&entryId=@Model.Id&entryType=@TasksBL.Enumerations.PKTasksEntryType.Project',
                size: 'sm',
                title: 'Σημείωση'
            });
        });


        function RefreshNotes(){
            $('#divNotesContainer').load('/Notes/EntryNotesView?EntryId=@Model.Id&EntryTypeId=@((byte)TasksBL.Enumerations.PKTasksEntryType.Project)', function () {
                $('.edit-note').click(function () {

                    ProteasJS.showModalWindow({
                        actionUrl: '/Notes/NoteEditView?noteId=' + $(this).data('noteid'),
                        size: 'sm',
                        title: 'Σημείωση'
                    });
                });
            });
        }

        @if (ViewBag.TaskSaved)
        {
            <text>
                ProteasJS.showToastr(
                {
                    Body: "Η Επεξεργασία Ολοκληρώθηκε",
                    Header: "header",
                    MessageTypeText: ProteasJS.MessageTypes.Success
                }
                );
            </text>
        }

    </script>
}