﻿@model PKTasks.Web.Models.ProjectsVM
@{
    ViewBag.Title = "Έργα";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Έργα</strong>

            </li>
        </ol>
    </div>
</div>

<div>
    <a href="@Url.Action("ProjectsAdd", "Admin")" class="btn">Δημιουργία</a>
    @if (Model.Projects.Count > 0)
    {

        <div>
            <table>
                <tr>
                    <td>
                        @Html.DropDownListFor(modelItem => modelItem.StatusId, Model.Projects[0].AllStatus, new { @class = "form-control" })
                    </td>
                </tr>
            </table>

        </div>

        <div id="Projects-container">

        </div>
    }
</div>




@section Scripts {

    <script type="text/javascript">

        $(document).ready(RefreshProjects());

        function RefreshProjects() {
            $('#Projects-container').load('/Admin/ProjectsTableView', function () {
                $('.Id').click(function () {
                    if (confirm("Θέλετε το συγκεκριμένο Έργο Να Διαγραφεί;") == true) {
                        $.post("/Admin/ProjectRemove", { projectId: $(this).data('id') }, function (message) {
                            ProteasJS.showToastr(
                            {
                                Body: "Η Διαγραφή Ολοκληρώθηκε",
                                Header: "header",
                                MessageTypeText: ProteasJS.MessageTypes.Success
                            }
                            );
                            RefreshProjects();
                        });
                    }
                    else {
                        close();
                    }
                });
            });
        }


        $('#StatusId').change(function () {
            $('#Projects-container').load("/Admin/ProjectsTableView", { statusId: this.value })
        });

</script>
}
