﻿@model PKTasks.Web.Models.ProjectsVM
    @{ 
        Layout = null;
    }

<div>
    <table style="width:100%" id="Projecttable">
        <tr>
            <th>Όνομα</th>
            <th>Κατάσταση</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.Projects)
            {
            <tr>
                <td><a href="@Url.Action("SubProjects", "Admin", new { ProjectId = item.Id })"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></a></td>
                <td><h5>@Html.DisplayFor(modelItem => item.Status)</h5></td>
                <td><a href="@Url.Action("SubProjects", "Admin", new { ProjectId = item.Id })"><img src="~/img/Boss.png" /></a></td>
                <td><a href="@Url.Action("ProjectsEdit", "Admin", new { ProjectId = item.Id })">Επεξεργασία</a></td>
                <td><a class="btn Id" data-Id="@item.Id">Διαγραφή</a></td>
            </tr>
        }

    </table>
</div>   

