﻿@model PKTasks.Web.Models.Project_SubProjectsVM
    @{ 
        Layout = null;
    }
<table style="width:100%">
    <tr>
        <th>Όνομα</th>
        <th>Κατάσταση</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.SubProjects)
    {
        <tr>
            <td><a href="@Url.Action("Tasks", "Admin", new { SubProjectId = item.Id })"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></a></td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td><a href="@Url.Action("Tasks", "Admin",new {SubProjectId=item.Id})">Προβολή</a></td>
            <td><a href="@Url.Action("SubProjectsEdit", "Admin",new {SubProjectId=item.Id})">Επεξεργασία</a></td>
            <td><a  class="btn Id" data-Id="@item.Id">Διαγραφή</a></td>
        </tr>
    }
</table>

