﻿@model PKTasks.Web.Models.Project_SubProjectsVM
@{
    ViewBag.Title = "Υποέργα";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <a href="@Url.Action("ProjectsEdit","Admin", new { ProjectId = Model.ProjectVM.Id})"> &nbsp(@Model.ProjectVM.Name)</a>
            </li>
            <li class="active">
                <strong>ΥποΈργα</strong>
            </li>
        </ol>
    </div>
</div>



<div>
    <a href="@Url.Action("SubProjectsAdd", "Admin", new {ProjectId = Model.ProjectVM.Id})" class="btn">Δημιουργία</a>
@if (Model.SubProjects.Count > 0)
{
    <div>
        <table>
            <tr>
                <td>
                    @Html.DropDownListFor(modelItem => modelItem.StatusId, Model.SubProjects[0].AllStatus, new { @class = "form-control" })
                </td>
            </tr>
        </table>
    </div>

    <div id="subprojects-container">

    </div>
}
</div>



@section Scripts {

    <script type="text/javascript">

        $(document).ready(RefreshNotes());


        function RefreshNotes() {
            $('#subprojects-container').load('/Admin/SubProjectsTableView?projectId=@Model.ProjectVM.Id', function () {
                $('.Id').click(function () {
                    if (confirm("Θέλετε το συγκεκριμένο Υποέργο Να Διαγραφεί;") == true) {
                        $.post("/Admin/SubProjectRemove", { subprojectId: $(this).data('id') }, function (message) {
                            ProteasJS.showToastr(
                            {
                                Body: "Η Διαγραφή Ολοκληρώθηκε",
                                Header: "header",
                                MessageTypeText: ProteasJS.MessageTypes.Success
                            }
                            );
                            RefreshNotes();
                        });
                    }
                    else {
                        close();

                    }
                });
            });
        }


        $('#StatusId').change(function () {
            $('#subprojects-container').load("/Admin/SubProjectsTableView", { projectId:@Model.ProjectVM.Id, statusId: this.value })
        });
    </script>
}