﻿@model PKTasks.Web.Models.SubProjectVM
@{
    ViewBag.Title = "Δημιουργία Υποέργου";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <a href="@Url.Action("ProjectsEdit","Admin", new { ProjectId = Model.ProjectId})"> &nbsp(@Model.ProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("SubProjects", "Admin", new {ProjectId=Model.ProjectId })">ΥποΈργα</a>
                <strong>&nbsp()</strong>
            </li>
        </ol>
    </div>
</div>





<div>
    @using (Html.BeginForm("SubProjectAdd", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(modelItem => modelItem.ProjectId)
        <table style="width:80%; border:1px">
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <h3>@Html.DisplayNameFor(modelItem => modelItem.Description)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedStartDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EstimatedStartDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3>@Html.DisplayNameFor(modelItem => modelItem.StartDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedEndDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EstimatedEndDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3>  @Html.DisplayNameFor(modelItem => modelItem.EndDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Deadline)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Deadline)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Status)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(n => n.statusId, Model.AllStatus, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDuration)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EstimatedDuration)
                </td>
            </tr>

        </table>

        <button type="submit">Εισαγωγή</button>
        <button type="reset">Άκυρο</button>
    }
</div>



@section Styles {
    @Styles.Render("~/plugins/datePickerStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-editor').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                language: 'el'
            });
        });
    </script>
}