﻿@model PKTasks.Web.Models.TaskVM
@{
    ViewBag.Title = "Καρτέλα Εργασίας";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <a href="@Url.Action("ProjectsEdit","Admin", new { ProjectId = Model.ProjectId})"> &nbsp(@Model.ProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("SubProjects", "Admin", new {ProjectId=Model.ProjectId })">ΥποΈργα</a>
                <a href="@Url.Action("SubProjectsEdit","Admin", new { SubProjectId = Model.SubProjectId })">&nbsp(@Model.SubProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Tasks", "Admin", new {SubProjectId=Model.SubProjectId })">Εργασίες</a>
                <strong>&nbsp(@Model.Name)</strong>
            </li>
        </ol>
    </div>
</div>


 

<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">Εισαγωγή Στοιχείων</a></li>
                        <li class=""><a href="#tab-dependent_tasks" data-toggle="tab">Εξαρτώμενες Εργασίες</a></li>
                        <li class=""><a href="#working-duration" data-toggle="tab">Διάρκειες Εργασίας</a></li>
                        <li class=""><a href="#tab-notes" data-toggle="tab">Σημειώσεις</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body lightgray-bg">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">

                        @using (Html.BeginForm("TaskEdit", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(modelItem => modelItem.Id)
                            <table style="width:80%; border:1px">
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>@Html.DisplayNameFor(modelItem => modelItem.Description)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Description)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedStartDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EstimatedStartDate)
                                        @*@Html.ValidationMessageFor(modelItem => modelItem.EstimatedStartDate)*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>@Html.DisplayNameFor(modelItem => modelItem.StartDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.StartDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedEndDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EstimatedEndDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3>  @Html.DisplayNameFor(modelItem => modelItem.EndDate)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.EndDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Deadline)</h3>
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem.Deadline)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Status)</h3>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.StatusId, Model.AllStatus, new { @class = "form-control" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDuration)</h3>
                                    </td>
                                    <td>
                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    @Html.EditorFor(modelItem => modelItem.EstimatedDuration)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(modelItem => modelItem.EstimatedDurationType, Model.AllEstimatedDurationTypes, new { @class = "form-control" })
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.HumanResources)</h3>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.HumanResourcesId, Model.AllHumanResources, new { @class = "form-control" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.TaskTag)</h3>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.TagId, Model.AllTags, new { @class = "form-control" })
                                    </td>
                                </tr>
                            </table>

                            <button type="submit">Επεξεργασία</button>
                            <button type="reset">Άκυρο</button>
                        }
                    </div>
                    <div class="tab-pane" id="tab-dependent_tasks">

                    </div>
                    <div class="tab-pane" id="working-duration">
                        <table style="width:100%; border:1px">
                            <tr>
                                <th>Ημερομηνία</th>
                                <th>Διάρκεια (σε Ώρες)</th>
                            </tr>
                            @foreach (var duration in Model.WorkingDurations.Durations)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => duration.WorkingDate, "DayDate")</td>
                                    <td>@Html.DisplayFor(modelItem => duration.Duration)</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="tab-pane" id="tab-notes">
                        <div id="divNotesContainer">

                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-2">
                                Νέα Σημείωση
                                <i class="fa fa-plus cursor-pointer btn-sm btn-primary" title="Νέα Σημείωση" id="btnNewNote"></i>
                            </label>
                            <div class="col-md-10" id="divOrderItems"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









@section Styles {
    @Styles.Render("~/plugins/datePickerStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-editor').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                language: 'el'
            });
            RefreshNotes();
        });


        $('#btnNewNote').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/Notes/NoteAddView?humanId=@Model.HumanResourcesId&entryId=@Model.Id&entryType=@TasksBL.Enumerations.PKTasksEntryType.Task',
                size: 'sm',
                title: 'Σημείωση'
            });
        });


        function RefreshNotes(){
            $('#divNotesContainer').load('/Notes/EntryNotesView?EntryId=@Model.Id&EntryTypeId=@((byte)TasksBL.Enumerations.PKTasksEntryType.Task)', function () {
                $('.edit-note').click(function () {

                    ProteasJS.showModalWindow({
                        actionUrl: '/Notes/TaskNoteEditView?noteId=' + $(this).data('noteid'),
                        size: 'sm',
                        title: 'Σημείωση'
                    });
                });
            });
        }


@if (ViewBag.TaskSaved)
{
        <text>
            ProteasJS.showToastr(
            {
                Body: "Η Επεξεργασία Ολοκληρώθηκε",
                Header: "header",
                MessageTypeText: ProteasJS.MessageTypes.Success
            }
            );
        </text>
}
    </script>
}

