﻿@model PKTasks.Web.Models.TaskVM
@{
    ViewBag.Title = "Καρτέλα Εργασίας";

    Layout = (Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml");
}

@if (!Request.IsAjaxRequest())
{
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <a href="@Url.Action("ProjectsEdit", "Admin", new { ProjectId = Model.ProjectId })"> &nbsp(@Model.ProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("SubProjects", "Admin", new { ProjectId = Model.ProjectId })">ΥποΈργα</a>
                <a href="@Url.Action("SubProjectsEdit", "Admin", new { SubProjectId = Model.SubProjectId })">&nbsp(@Model.SubProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Tasks", "Admin", new { SubProjectId = Model.SubProjectId })">Εργασίες</a>
                <strong>&nbsp()</strong>
            </li>
        </ol>
    </div>
</div>
}

<div>
    @using (Html.BeginForm("TaskAdd", "Admin", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(modelItem => modelItem.SubProjectId)
        <table style="width:80%; border:1px">
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <h3>@Html.DisplayNameFor(modelItem => modelItem.Description)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedStartDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EstimatedStartDate)
                    @*@Html.ValidationMessageFor(modelItem => modelItem.EstimatedStartDate)*@
                </td>
            </tr>
            <tr>
                <td>
                    <h3>@Html.DisplayNameFor(modelItem => modelItem.StartDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedEndDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EstimatedEndDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3>  @Html.DisplayNameFor(modelItem => modelItem.EndDate)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Deadline)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Deadline)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Status)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(n => n.StatusId, Model.AllStatus, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDuration)</h3>
                </td>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td>
                                @Html.EditorFor(modelItem => modelItem.EstimatedDuration)
                            </td>
                            <td>
                                @Html.DropDownListFor(modelItem => modelItem.EstimatedDurationType, Model.AllEstimatedDurationTypes, new { @class = "form-control" })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.HumanResources)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(n => n.HumanResourcesId, Model.AllHumanResources, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.TaskTag)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(n => n.TagId, Model.AllTags, new { @class = "form-control" })
                </td>
            </tr>
        </table>

        <button type="submit">Εισαγωγή</button>
        <button type="reset">Άκυρο</button>
    }
</div>



            @section Styles {
                @Styles.Render("~/plugins/datePickerStyles")
            }


            @section Scripts {
                @Scripts.Render("~/plugins/datePicker")

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.date-editor').datepicker({
                            format: "dd/mm/yyyy",
                            weekStart: 1,
                            daysOfWeekHighlighted: "0,6",
                            autoclose: true,
                            language: 'el'
                        });
                    });
                </script>
            }

