﻿@model PKTasks.Web.Models.SubProjects_TasksVM
@{
    ViewBag.Title = "Tasks";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                <a href="@Url.Action("ProjectsEdit","Admin", new { ProjectId = Model.Subproject.ProjectId })">(@Model.Subproject.ProjectName)</a>
            </li>
            <li class="active">
                <a href="@Url.Action("SubProjects", "Admin", new {ProjectId=Model.Subproject.ProjectId })">ΥποΈργα</a>
                <a href="@Url.Action("SubProjectsEdit","Admin", new { SubProjectId = Model.Subproject.Id })">(@Model.Subproject.Name)</a>
            </li>
            <li class="active">
                <strong>Εργασίες</strong>
            </li>
        </ol>
    </div>
</div>


<div>
    <a href="@Url.Action("TasksAdd", "Admin", new { SubProjectId = Model.Subproject.Id })" class="btn">Δημιουργία</a>
@if (Model.Tasks.Count > 0)
{

    <div>
        <table>
            <tr>
                <td>
                    @Html.DropDownListFor(modelItem => modelItem.StatusId, Model.Tasks[0].AllStatus, new { @class = "form-control" })
                </td>
            </tr>
        </table>
    </div>

    <div id="Tasks-container">

    </div>
}
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(RefreshNotes());


        function RefreshNotes() {
            $('#Tasks-container').load('/Admin/TasksTableView?subprojectId=@Model.Subproject.Id', function () {
                $('.Id').click(function () {
                    if (confirm("Θέλετε η συγκεκριμένη Εργασία Να Διαγραφεί;") == true) {
                        $.post("/Admin/TaskRemove", { taskId: $(this).data('id') }, function (message) {
                            ProteasJS.showToastr(
                            {
                                Body: "Η Διαγραφή Ολοκληρώθηκε",
                                Header: "header",
                                MessageTypeText: ProteasJS.MessageTypes.Success
                            }
                            );
                            RefreshNotes();
                        });
                    }
                    else {
                        close();

                    }
                });
            });
        }

        $('#StatusId').change(function () {
            $('#Tasks-container').load("/Admin/TasksTableView", { subprojectId:@Model.Subproject.Id, statusId: this.value })
        });
</script>
}