﻿@model PKTasks.Web.Models.SubProjects_TasksVM

@{ 
    Layout = null;
}
<table style="width:100%">
    <tr>
        <th>Όνομα</th>
        <th>Κατάσταση</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            @*<td><a href="@Url.Action("Tasks", "Admin",new {SubProjectId=item.Id})">Προβολή</a></td>*@
            <td><a href="@Url.Action("TasksEdit", "Admin",new {taskId=item.Id})">Επεξεργασία</a></td>
            <td><a class="btn Id" data-Id="@item.Id">Διαγραφή</a></td>
        </tr>
    }
</table>

