﻿@model PKTasks.Web.Models.HumanResourceVM
@{ 
    ViewBag.Title = "MyAccount";
}

<h2>Ο Λογαριασμός Μου</h2>

<div>
    
    
    <table style="width:50%">
        <tr>
            <td>
                <h3>@Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
            </td>
            <td>
                <h3> @Html.DisplayFor(modelItem => modelItem.Name)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>@Html.DisplayNameFor(modelItem => modelItem.Role)</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => modelItem.Role)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>@Html.DisplayNameFor(modelItem => modelItem.Username)</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => modelItem.Username)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>@Html.DisplayNameFor(modelItem => modelItem.Sector)</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => modelItem.Sector)</h3>
            </td>
        </tr>


    </table>
    
    

    <p id="demo"></p>
</div>