﻿@model PKTasks.Web.Models.TaskVM
@{
    ViewBag.Title = "MyTask";
}


<div class="row m-t-sm">
    <div class="col-lg-12">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">Στοιχεία Εργασίας</a></li>
                        <li class=""><a href="#tab-workinghours" data-toggle="tab">Ώρες Εργασίας</a></li>
                        <li class=""><a href="#tab-notes" data-toggle="tab">Σημειώσεις</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body lightgray-bg">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">
                        @Html.HiddenFor(modelItem => modelItem.Id)
                        <table style="width:80%; border:1px">
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>@Html.DisplayNameFor(modelItem => modelItem.Description)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Description)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedStartDate)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EstimatedStartDate)
                                    @*@Html.ValidationMessageFor(modelItem => modelItem.EstimatedStartDate)*@
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>@Html.DisplayNameFor(modelItem => modelItem.StartDate)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.StartDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedEndDate)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EstimatedEndDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>  @Html.DisplayNameFor(modelItem => modelItem.EndDate)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EndDate)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Deadline)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.Deadline)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDuration)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EstimatedDuration)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.HumanResources)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(n => n.HumanResources)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.EstimatedDurationType)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem.EstimatedDurationTypeName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3> @Html.DisplayNameFor(modelItem => modelItem.TaskTag)</h3>
                                </td>
                                <td>
                                    @Html.DisplayFor(n => n.TaskTag)
                                </td>
                            </tr>
                        </table>
                        @using (Html.BeginForm("TaskStatusChanged", "User", null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.HiddenFor(modelItem => modelItem.Id)
                            <table style="width:80%; border:1px">
                                <tr>
                                    <td>
                                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Status)</h3>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(n => n.StatusId, Model.AllStatus, new { @class = "form-control" })
                                    </td>
                                    <td><button type="submit">Επεξεργασία</button></td>
                                </tr>
                                
                            </table>    
                        }
                    </div>
                    <div class="tab-pane" id="tab-workinghours">
                        <table style="width:100%">
                            <tr>
                                <th class="width180px">Ημερομηνία</th>
                                <th>Διάρκεια (Σε Ώρες)</th>
                            </tr>
                            <tr>
                                @foreach (var item in Model.WorkingDurations.Durations)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelitem => item.WorkingDate, "DayDate")</td>
                                    <td>@Html.DisplayFor(modelitem => item.Duration)</td>
                                    <td><h4><a href="@Url.Action("WorkingDurationEditView","User", new {WorkingDurationId = item.Id})" class="btn">Επεξεργασία</a></h4></td>
                                </tr>
                                }

                            </table>
                        <h4><a href="@Url.Action("WorkingDurationAddView","User", new { taskId=Model.Id})" class="btn">Νέο</a></h4>
                        

</div>
                    <div class="tab-pane" id="tab-notes">
                        <div id="divNotesContainer">

                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-md-2">
                                Νέα Σημείωση
                                <i class="fa fa-plus cursor-pointer btn-sm btn-primary" title="Νέα Σημείωση" id="btnNewNote"></i>
                            </label>
                            <div class="col-md-10" id="divOrderItems"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/plugins/datePickerStyles")
}



@section Scripts{
@Scripts.Render("~/plugins/datePicker")

<script type="text/javascript">
        $(document).ready(function () {
            $('.date-editor').datepicker({
                format: "dd/mm/yyyy",
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                language: 'el'
            });
            RefreshNotes();
        });


        $('#btnNewNote').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/Notes/NoteAddView?humanId=@Model.HumanResourcesId&entryId=@Model.Id&entryType=@TasksBL.Enumerations.PKTasksEntryType.Task',
                size: 'sm',
                title: 'Σημείωση'
            });
        });


        function RefreshNotes(){
            $('#divNotesContainer').load('/Notes/EntryNotesView?EntryId=@Model.Id&EntryTypeId=@((byte)TasksBL.Enumerations.PKTasksEntryType.Task)', function () {
                $('.edit-note').click(function () {

                    ProteasJS.showModalWindow({
                        actionUrl: '/Notes/TaskNoteEditView?noteId=' + $(this).data('noteid'),
                        size: 'sm',
                        title: 'Σημείωση'
                    });
                });
            });
        }






</script>
    }