﻿@model PKTasks.Web.Models.HumanResourceTasksVM
@{
    ViewBag.Title = "MyTasks";
}

<table style="width:100%">
    <tr>
        <th>Όνομα</th>
        <th>Κατάσταση</th>
    </tr>
    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td><a href="@Url.Action("Mytask", "User", new { taskId = item.Id })"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></a></td>
            <td>@Html.DisplayFor(modelItem => item.Status.Name)</td>
        </tr>
    }
</table>