﻿@*@model PKTasks.Web.Models.ProjectsVM

<div class="row">

@if (Model.Projects.Count > 0)
{

    <div>
        <table>
            <tr>
                <td>
                    @Html.DropDownListFor(modelItem => modelItem.StatusId, Model.Projects[0].AllStatus, new { @class = "form-control" })
                </td>
            </tr>
        </table>

    </div>

    <div class="col-lg-6">

        <table style="width:100%">
            <tr><th>Έργα</th></tr>
            <tr>
                <th>Όνομα</th>
                <th>Κατάσταση</th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model.Projects)
                {
                <tr class="project" data-id="@item.Id">

                    <td><h5>@Html.DisplayFor(modelItem => item.Name)</h5></td>
                    <td><h5>@Html.DisplayFor(modelItem => item.Status)</h5></td>
                </tr>
            }

        </table>

    </div>
}

    <div id="Project-Subprojects" class="col-lg-6">

    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $('.project').click(function ()
        {
            $('#Project-Subprojects').load('/User/SubProjects?projectId=' + $(this).data('id'))
        });

        $('#StatusId').change(function () {
            $('#Projects-container').load("/Admin/ProjectsTableView", { statusId: this.value })
        });

    </script>
}*@


@model PKTasks.Web.Models.ProjectsVM

    <div style="width:50%">

    @if (Model.Projects.Count > 0)
    {

        <div>
            <table>
                <tr>
                    <td>
                        @Html.DropDownListFor(modelItem => modelItem.StatusId, Model.Projects[0].AllStatus, new { @class = "form-control" })
                    </td>
                </tr>
            </table>

        </div>

            <div>
                <table style="width:100%" id="Projecttable">
                    <thead>
                        <tr>
                            <th>Όνομα</th>
                            <th>Κατάσταση</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
    }

</div>

    <div style="width:50%">
    <div id="Project-Subprojects" class="col-lg-6">

    </div>
</div>



@section Styles {
    @Styles.Render("~/plugins/datatablesStyles")
}


@section scripts{
@Scripts.Render("~/plugins/datatables")

<script type="text/javascript">
    var table;
    var baseSource = '@Url.Action("LoadProjectData", "User")';

    $(document).ready(function () {
        table = $('#Projecttable').DataTable({
            "processing": true,
            "serverSide": true,
            "Filter": false,
            "orderMulti": false,
            "ajax": {
                "url": baseSource,
                "type": "POST",
                "datatype": "json"
            },
            "fnDrawCallback": function()
            {
                $('.project').click(function () {
                    $('#Project-Subprojects').load('/User/SubProjects?projectId=' + $(this).data('id'))
                });
            },
            "dom": '<"top">rt<"bottom"<"col-lg-3"i><"col-lg-6 text-center"p><"col-lg-3"l>><"clear">',
            "columns": [
                { "data": "Name", "name": "Name", "autoWidth": true ,
                    'render': function (data, type, row) {
                        return '<a class="project" data-id="' + row.Id + '">' + data +'</a>';
                    }
                },

                { "data": "Status", "name": "Status", "autoWidth": true }
            ]
        });

    });



    $('#StatusId').change(function () {
        table.ajax.url(baseSource + "?statusId=" +  this.value).load();
    });
    
    $('.project').click(function () {
        $('#Project-Subprojects').load('/User/SubProjects?projectId=' + $(this).data('id'))
    });
</script>
    }