﻿@model PKTasks.Web.Models.Project_SubProjectsVM
@{ 
    Layout = null;
}
<div style="width:50%">
    <table style="width:100%">
        <tr><th>Υποέργα</th></tr>
        <tr>
            <th>Όνομα</th>
            <th>Κατάσταση</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.SubProjects)
        {
            <tr >
                <td><h5>@Html.DisplayFor(modelItem => item.Name)</h5></td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    <div class="form-group">
                        <label for="" class="control-label col-md-2">
                            
                            <i class="fa fa-plus cursor-pointer btn-sm btn-primary btnNewNote" data-id="@item.Id" title="Νέα Σημείωση">Νέα Εργασία</i>
                        </label>
                        <div class="col-md-10" id="divOrderItems"></div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>





    <script type="text/javascript">
        $('.btnNewNote').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/User/_TaskAdd?subprojectId=' + $(this).data('id'),
                size: 'lg',
                title: 'Εργασία'
                });
        });

    </script>
