﻿@model PKTasks.Web.Models.WorkingDurationVM
<div>
    @using (Html.BeginForm("WorkingDurationEdit", "User", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(modelItem => modelItem.HumanResourceId)
        @Html.HiddenFor(modelItem => modelItem.HumanResourceCostId)
        @Html.HiddenFor(modelItem => modelItem.TaskId)
        @Html.HiddenFor(modelItem => modelItem.Id)
        <table>
            <tr>
                <th>Ημερομηνία</th>
                <td>@Html.EditorFor(modelItem => modelItem.WorkingDate)</td>
            </tr>
            <tr>
                <th>Διάρκεια</th>
                <td>@Html.EditorFor(modelItem => modelItem.Duration)</td>
            </tr>
        </table>
        <button type="submit">ΟΚ</button>
    }
</div>




@section Styles {
    @Styles.Render("~/plugins/datePickerStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">
                    $(document).ready(function () {
                        $('.date-editor').datepicker({
                            format: "dd/mm/yyyy",
                            weekStart: 1,
                            daysOfWeekHighlighted: "0,6",
                            autoclose: true,
                            language: 'el',
                        });
                    });
    </script>
}


