﻿@model PKTasks.Web.Models.NotesVM
@{
    Layout = null;
}

<div style="overflow-y:auto; height:400px; background-color:antiquewhite; width:60%">

    <table style="width:100%">
        <tr>
            <th><h3>Ημερομηνία</h3></th>
            <th><h3>Συγγραφέας</h3></th>
            <th ><h3>Μήνυμα</h3></th>
           
        </tr>
        @foreach (var item in Model.Notes)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PostDate)</td>
                <td>@Html.DisplayFor(modelItem => item.HumanResourceName)</td>
               
                    <td><div class="submessage">@Html.DisplayFor(modelItem => item.Message)</div></td>
                
                <td><a class="fullMessageLink" data-id="@item.Id">Προβολή</a></td>

            </tr>
        }
    </table>
</div>




    @Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">

        $('.fullMessageLink').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/Notes/FullNoteView?noteId=' + $(this).data('id'),
                size: 'lg',
                title: 'Σημείωση'
                });
                });

    </script>
