﻿@model PKTasks.Web.Models.NoteVM
@{
    Layout = null;
}

<div style="overflow-y:auto; height:400px; background-color:antiquewhite; width:100%">

    <table style="width:100%">
        <tr>
            <th class="width120px"><h3>Ημερομηνία</h3></th>
            
            <td>@Model.PostDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
        </tr>
        <tr>
            <th><h3>Συγγραφέας</h3></th>
            
            <td>@Html.DisplayFor(modelItem => Model.HumanResourceName)</td>
        </tr>
        <tr>
            <th><h3>Μήνυμα</h3></th>
            
            <td>@Html.DisplayFor(modelItem => Model.Message)</td>
        </tr>

    </table>
</div>

