﻿@model PKTasks.Web.Models.NoteVM
@{
    Layout = null;
}


@using (Ajax.BeginForm("NoteAdd", "Notes", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onNoteAdded" }, new { enctype = "multipart/form-data", id = "frmAddAddress", @class = "form-horizontal" }))
{
    @Html.HiddenFor(modelItem => modelItem.HumanResourceId)
    @Html.HiddenFor(modelItem => modelItem.EntryId)
    @Html.HiddenFor(modelItem => modelItem.EntryType)
    <div>
        <table>
            <tr>

                <td>@Html.DisplayNameFor(modelItem => modelItem.Message)</td>
                @*<td>@Html.DisplayNameFor(modelItem => modelItem.HumanResourceName)</td>*@
            </tr>
            <tr>

                <td>@Html.EditorFor(modelItem => modelItem.Message)</td>
                @*<td>@Html.EditorFor(modelItem => modelItem.HumanResourceName)</td>*@
            </tr>
        </table>
        <button type="submit">OK</button>
        <button type="reset">Άκυρο</button>
    </div>

}

<script type="text/javascript">
    function onNoteAdded(response) {
        if (response == true) {
            ProteasJS.hideModalWindow();
            RefreshNotes();
        }
        else {
            alert("failure");
        }
    }
</script>
