﻿@model PKTasks.Web.Models.HumanResourcesVM
@{
    ViewBag.Title = "HumanResource";
}


<table style="width:100%">
    <tr>
        <th>Όνομα</th>
        <th>Ειδικότητα</th>
        <th>Κόστος/Ώρα</th>
        <th>Ημερομηνία Ισχύος</th>
    </tr>
    @foreach (var item in Model.lstHumansVM)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Sector)</td>
            @if (item.Cost > 0)
            {
            <td>@Html.DisplayFor(modelItem => item.Cost)</td>
            <td>@Html.DisplayFor(modelItem => item.FromDate)</td>
            }
            else
            {
                <td></td>
                <td></td>
            }
            <td><a href="@Url.Action("HumanResourceEditView", "AdminHumanResource", new { HumanResourceId = item.Id })" class="btn">Επεξεργασία</a></td>
            <td><a href="@Url.Action("HumanResourceRemoveView", "AdminHumanResource", new { HumanResourceId = item.Id })" class="btn">Διαγραφή</a></td>
        </tr>
    }
</table>
<a href="@Url.Action("HumanResourceAddView", "AdminHumanResource")" class="btn">Δημιουργία</a>
