﻿@model PKTasks.Web.Models.HumanResourceVM
@{
    ViewBag.Title = "Δημιουργία Έργου";
}


<div>
    @using (Html.BeginForm("HumanResourceAdd", "AdminHumanResource", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @*@Html.HiddenFor(modelItem => modelItem.Id)*@
        <table style="width:80%; border:1px">
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Username)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Username)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Password)</h3>
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem.Password)
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Sector)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => modelItem.SectorId, Model.AllSectors, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    <h3> @Html.DisplayNameFor(modelItem => modelItem.Role)</h3>
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => modelItem.Role, Model.AllRoles, new { @class = "form-control" })
                </td>
            </tr>



        </table>

        <button type="submit">Εισαγωγή</button>
        <button type="reset">Άκυρο</button>
    }
</div>

