﻿@model PKTasks.Web.Models.HumanResourceVM
@{
    ViewBag.Title = "Δημιουργία Έργου";
}



    <div>
        @using (Html.BeginForm("HumanResourceEdit", "AdminHumanResource", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(modelItem => modelItem.Id)
            <table style="width:80%; border:1px">
                <tr>
                    <td>
                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Name)</h3>
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => modelItem.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Username)</h3>
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => modelItem.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Password)</h3>
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => modelItem.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Sector)</h3>
                    </td>
                    <td>
                        @Html.DropDownListFor(modelItem => modelItem.SectorId, Model.AllSectors, new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3> @Html.DisplayNameFor(modelItem => modelItem.Role)</h3>
                    </td>
                    <td>
                        @Html.DropDownListFor(modelItem => modelItem.RoleId, Model.AllRoles, new { @class = "form-control" })
                    </td>
                </tr>



            </table>
            <div class="form-group">
                <label for="" class="control-label col-md-2">
                    Νέο Κόστος
                    <i class="fa fa-plus cursor-pointer btn-sm btn-primary" title="Προσθήκη Προϊόντος" id="btnInsertCost"></i>
                </label>
                <div class="col-md-10" id="divOrderItems"></div>
            </div>

            <button type="submit">Εισαγωγή</button>
            <button type="reset">Άκυρο</button>
        }
    </div>



    <div style="overflow-y:auto; height:400px; background-color:lavender; width:60%">

        <table style="width:100%">
            <tr>
                <th><h3> @Html.DisplayNameFor(modelItem => modelItem.Cost)</h3></th>
                <th><h3> @Html.DisplayNameFor(modelItem => modelItem.FromDate)</h3></th>
            </tr>
            @foreach (var item in Model.Costs.lstHumanResourceCostsVM)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                    <td>@Html.DisplayFor(modelItem => item.FromDate)</td>
                </tr>
            }
        </table>


    </div>
    @*<button type="submit">Εισαγωγή</button>
    <button type="submit">Επεξεργασία</button>*@

@section scripts{
    <script type="text/javascript">

        $('#btnInsertCost').click(function () {
            ProteasJS.showModalWindow({
                actionUrl: '/AdminHumanResource/HumanResourceCostAddView?hrId=@Model.Id',
                size: 'sm',
                title: 'Εισαγωγή Κόστους Προϊόντος'
            });    
        });
    
    </script>  
    }

