﻿@model PKTasks.Web.Models.HumanResourceCostVM
@{
    Layout = null;
}

@using (Html.BeginForm("HumanResourceCostAdd", "AdminHumanResource", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(modelItem =>modelItem.HumanResourceId)
    <div>
        <table>
            <tr>
                <td>@Html.DisplayNameFor(modelItem => modelItem.Cost)</td>
                <td>@Html.EditorFor(modelItem => modelItem.Cost)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(modelItem => modelItem.FromDate)</td>
                <td>@Html.EditorFor(modelItem => modelItem.FromDate)</td>
            </tr>
        </table>
        <button type="submit">OK</button>
        <button type="reset">Άκυρο</button>
    </div>

}