﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-user"></i> @User.Identity.GetUserName()
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="@Url.Action("ChangePassword", "User")">
                    <div class="text-center">
                        <i class="fa fa-lock"></i> Αλλαγή Password
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <div class="text-center">
                            <i class="fa fa-sign-out"></i> Αποσύνδεση
                        </div>
                    </a>
                }
            </li>
        </ul>
    </li>
}