﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            @*<span class="block m-t-xs">
                                    <strong class="font-bold">@{Html.RenderAction("CurrentUserFullName", "User");}</strong>
                                </span>
                                <span class="text-xs block">@{Html.RenderAction("CurrentUserTitle", "User");} <b class="caret"></b></span>*@
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Αποσύνδεση" class="btn btn-white full-width" />
                            }
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.settings">Dashboard</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Metrics")">
                <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.settings">Metrics</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Calendar")">
                <a href="@Url.Action("Index", "Calendar")"><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.settings">Ημερολόγιο</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Task")">
                <a href="@Url.Action("Index", "Task")"><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.settings">Εργασίες</span></a>
            </li>

            @if (Globals.GetUserRole() == Globals.USER || Globals.GetUserRole() == Globals.ADMIN)
            {
                <li class="@Html.IsSelected(controller: "User")">
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.settings">Χρήστης</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level @Html.IsSelected(controller: "User", cssClass: "in")">
                        <li class="@Html.IsSelected(controller: "User", action: "MyAccount")">
                            <a href="@Url.Action("MyAccount", "User")">Ο Λογαριασμός Μου</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "User", action: "MyTasks")">
                            <a href="@Url.Action("MyTasks", "User")">Οι Εργασίες Μου</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "User", action: "Projects")">
                            <a href="@Url.Action("Projects", "User")">Έργα</a>
                        </li>
                    </ul>
                </li>
            }
            @if (Globals.GetUserRole() == Globals.ADMIN)
            {
                <li class="@Html.IsSelected(controller: "Admin")">
                    <a href="#"><i class="fa fa-folder-o"></i> <span class="nav-label" data-i18n="nav.settings">Διαχειριστής</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level @Html.IsSelected(controller: "Admin", cssClass: "in")">
                        <li class="@Html.IsSelected(controller: "Admin", action: "HumanResource")">
                            <a href="@Url.Action("HumanResource", "AdminHumanResource")">Ανθρώπινο Δυναμικό</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Admin", action: "Projects")">
                            <a href="@Url.Action("Projects", "Admin")">Έργα</a>
                        </li>
                    </ul>
                </li>
            }

            @if (Globals.GetUserRole() == Globals.ADMIN)
            {
                <li class="@Html.IsSelected(controller: "Adjustments")">
                    <a href="#"><i class="fa fa-gears"></i> <span class="nav-label" data-i18n="nav.settings">Ρυθμίσεις</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level @Html.IsSelected(controller: "Adjustments", cssClass: "in")">
                        <li class="@Html.IsSelected(controller: "Adjustments", action: "SectorsView")">
                            <a href="@Url.Action("SectorsView", "Adjustments")">Ιδιότητες</a>
                        </li>
                        <li class="@Html.IsSelected(controller: "Adjustments", action: "TagsView")">
                            <a href="@Url.Action("TagsView", "Adjustments")">Ετικέτες</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>